*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}

body {
    overflow: hidden;
}
html {
    font-family: Arial, Helvetica, sans-serif;

}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    scroll-snap-align: center;
}
/* 
.container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  } */

.blochorizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translatey(-100vh) ;
    transform-origin: top left;
    
}
 .container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
 }

 /* Pour enlevé la barre sur la pluparts des navigateur. */
::-webkit-scrollbar {
    display: none;
}

.one {
    background: #b1f8f2;
}

.two {
    background: #fffc99;
}

.three {
    background: #eafdcf;
}

.four {
    background: #8e8358;
}