/* setup */
html, body, .holster {
    height: 100vh;
  }
  .holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
  }
  
  .container {
    display: flex;
    overflow: auto;
    outline: 1px dashed lightgray;
    /* flex: none; */
  }
  
  .x.proximity-scroll-snapping {
    scroll-snap-type: x proximity;
  }
  

  .container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  }
  
  .x.container > div {
    line-height: 128px;
    font-size: 64px;
    width: 100%;
    height: 128px;
  }
  
  /* .y.container > div {
    line-height: 256px;
    font-size: 128px;
    width: 256px;
    height: 100%;
  } */
  /* appearance fixes */
  /* .y.container > div:first-child {
    line-height: 1.3;
    font-size: 64px;
  } */
  /* coloration */
  .container > div:nth-child(even) {
    background-color: #87EA87;
  }
  
  .container > div:nth-child(odd) {
    background-color: #87CCEA;
  }
  